.jumbotron {
    background-color: lightskyblue; 
    color: black;
    opacity: 70%;
}

body {
    background: url("../images/background.jpg")
}

.container {
    background-color: white;
    opacity: 80%;
}